<div class="container-content">
    <div class="content">
        <img class="image" alt="Mi Avatar" src="../../assets/AvatarMaker3.png"/>
        <div class="text-content">
            <h1>Hola Soy Kari!</h1>
            <p>
                Bienvenidos a mi portfolio.
                Aquí podrás adentrarte en el mundo del desarrollo web a través de los ojos de un Front End Junior.        
                Te invito a explorar mi portfolio y descubrir cómo mi pasión por el desarrollo web se traduce en proyectos creativos y funcionales. ¡Gracias por unirte a esta aventura!    
            </p>
        </div>
    </div>    
</div>

