<div class="container-menu">
    <div class="container-items">
        <button>Proyectos</button>
        <button>Sobre Mi</button>
        <button>Contacto</button>
    </div>

    <div class="container-links">
        <button>
            <a href="https://www.linkedin.com/in/karinaromero-fullstack/" target="_blank">LinkedIn</a>
        </button>
        <button>
            <a href="https://github.com/KariRomero" target="_blank">GitHub</a>
        </button>
        <button>
            <a href="https://kari-developer.vercel.app/" target="_blank">Portfolio</a>
        </button>
    </div>
    
</div>
